# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Xander\IdeaProjects\JavaAdvancedOefeningen\JavaAdv_H3_ExceptionHandling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
